<p id="notice"><%= notice %></p>

<h1>Listing Surgery Supplies</h1>

<table>
  <thead>
    <tr>
      <th>Surgery</th>
      <th>Supply</th>
      <th>Cantidad utilizada</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @surgery_supplies.each do |surgery_supply| %>
      <tr>
        <td><%= surgery_supply.surgery %></td>
        <td><%= surgery_supply.supply %></td>
        <td><%= surgery_supply.cantidad_utilizada %></td>
        <td><%= link_to 'Show', surgery_supply %></td>
        <td><%= link_to 'Edit', edit_surgery_supply_path(surgery_supply) %></td>
        <td><%= link_to 'Destroy', surgery_supply, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Surgery supply', new_surgery_supply_path %>
