<%= form_for(@surgery) do |f| %>
  <% if @surgery.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@surgery.errors.count, "error") %> prohibited this surgery from being saved:</h2>

      <ul>
      <% @surgery.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :surgery_type_id %><br>
    <%= f.text_field :surgery_type_id %>
  </div>
  <div class="field">
    <%= f.label :user_id %><br>
    <%= f.text_field :user_id %>
  </div>
  <div class="field">
    <%= f.label :patient_id %><br>
    <%= f.text_field :patient_id %>
  </div>
  <div class="field">
    <%= f.label :surgery_state_id %><br>
    <%= f.text_field :surgery_state_id %>
  </div>
  <div class="field">
    <%= f.label :medical_team_id %><br>
    <%= f.text_field :medical_team_id %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
