<%= form_for(@medical_staff_speciality) do |f| %>
  <% if @medical_staff_speciality.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@medical_staff_speciality.errors.count, "error") %> prohibited this medical_staff_speciality from being saved:</h2>

      <ul>
      <% @medical_staff_speciality.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :speciality_id %><br>
    <%= f.text_field :speciality_id %>
  </div>
  <div class="field">
    <%= f.label :medical_staff_id %><br>
    <%= f.text_field :medical_staff_id %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
