<p id="notice"><%= notice %></p>

<h1>Listing Medical Staff Specialities</h1>

<table>
  <thead>
    <tr>
      <th>Speciality</th>
      <th>Medical staff</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @medical_staff_specialities.each do |medical_staff_speciality| %>
      <tr>
        <td><%= medical_staff_speciality.speciality %></td>
        <td><%= medical_staff_speciality.medical_staff %></td>
        <td><%= link_to 'Show', medical_staff_speciality %></td>
        <td><%= link_to 'Edit', edit_medical_staff_speciality_path(medical_staff_speciality) %></td>
        <td><%= link_to 'Destroy', medical_staff_speciality, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Medical staff speciality', new_medical_staff_speciality_path %>
