<p id="notice"><%= notice %></p>

<h1>Listing Hospital Ward Surgeries</h1>

<table>
  <thead>
    <tr>
      <th>Hospital ward</th>
      <th>Surgery</th>
      <th>Fecha inicio</th>
      <th>Hora inicio</th>
      <th>Fecha fin</th>
      <th>Hora fin</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @hospital_ward_surgeries.each do |hospital_ward_surgery| %>
      <tr>
        <td><%= hospital_ward_surgery.hospital_ward %></td>
        <td><%= hospital_ward_surgery.surgery %></td>
        <td><%= hospital_ward_surgery.fecha_inicio %></td>
        <td><%= hospital_ward_surgery.hora_inicio %></td>
        <td><%= hospital_ward_surgery.fecha_fin %></td>
        <td><%= hospital_ward_surgery.hora_fin %></td>
        <td><%= link_to 'Show', hospital_ward_surgery %></td>
        <td><%= link_to 'Edit', edit_hospital_ward_surgery_path(hospital_ward_surgery) %></td>
        <td><%= link_to 'Destroy', hospital_ward_surgery, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Hospital ward surgery', new_hospital_ward_surgery_path %>
